body {
  margin-top: 10px;
}
.player1-color {
  background-color: #0000FF;
}
.player2-color {
  background-color: #FF0000;
}

.btn-massive {
  padding: 10px 16px;
  font-size: 100px;
  line-height: 1.3333333;
  border-radius: 8px;
  width: 30%;
}

.floatCenterbox {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}