body {
  margin-top: 10px;
}

.btn-massive {
  padding: 10px 16px;
  font-size: 100px;
  line-height: 1.3333333;
  border-radius: 8px;
  width: 40%;
}

.floatCenterbox {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.tint { background: rgba(0,255,255, 0.75); }