body {
  margin-top: 10px;
}

#content {
    width: 200px;
    margin: auto auto;
}

.btn-massive {
  padding: 10px 16px;
  font-size: 100px;
  line-height: 1.3333333;
  border-radius: 8px;
  width: 40%;
}

.btn-large {
  padding: 10px 16px;
  font-size: 50px;
  line-height: 1.3333333;
  border-radius: 8px;
  width: 75%;
}

.floatCenterbox {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.tint { background: rgba(0,255,255, 0.75); }

.section-with-bg {
  border-radius: 6px;
  background: #eee;
  padding: 1em;
  margin: 1em;
}